# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store

# Data (raw + processed) — not tracked, added manually / generated locally
data/*
!data/.gitkeep

# Generated outputs
outputs/*
!outputs/.gitkeep

# Generated models
models/*
!models/.gitkeep